@use 'src/shared/styles/index.scss' as *;

.button {
  background: $tertiary-color;
  box-shadow: 0px 6px 12px rgba(113, 63, 255, 0.25);
  border-radius: 14px;
  padding: 13px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
    box-shadow: none;
  }

  &.outline {
    background: #ffffff;
    border: 1px solid #d8e0f0;
    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
    color: #7d8592;
  }

  .icon {
    margin-right: 12px;
    display: flex;
  }
}
